%section.masthead.jumbotron
  .container
    .row.text-center.bottom-border
      %h1 Den Delivery
      %h4 College campus logistics.
      .col-sm-6.col-sm-offset-3
        =image_tag "https://s3.amazonaws.com/den-delivery/splash-assets/iphone-logo-bg.png"

/ %section#about
/   .container
/     .row.text-center
/       .col-sm-offset-1.col-sm-10
/         .row
/           %h2 About
/           .col-sm-4.text-left
/             =image_tag "https://s3.amazonaws.com/assets.happyfuncorp.com/splash-assets/pic1.jpg", class: "img-responsive"
/             %h4 Couriers
/             %p Are you interested in the best job on campus? We provide comptetive compensation and competitive sports.
/             = link_to "Get in touch", "#"
/           .col-sm-4.text-left
/             =image_tag "https://s3.amazonaws.com/assets.happyfuncorp.com/splash-assets/pic2.jpg", class: "img-responsive"
/             %h4 Campuses
/             %p We are expading nationwide from the woods of Maine to the Gold Coast. Are you hungry?
/             = link_to "Give us a holler", "#"
/           .col-sm-4.text-left
/             =image_tag "https://s3.amazonaws.com/assets.happyfuncorp.com/splash-assets/pic3.jpg", class: "img-responsive"
/             %h4 Community
/             %p We provide our teams with the tools to learn the entreprenurial skillset and the ability to fund their education.
/             = link_to "Learn more", "#"
/ %section.divider
/   .container
/     .row.text-center
/       .col-sm-offset-3.col-sm-6
/         %hr
 
/ %section#team
/   .container
/     .row.text-center
/       .col-sm-offset-1.col-sm-10
/         .row
/           %h2 HOW IT WORKS
/           .col-sm-offset-1.col-sm-10.clearfix
/             #carousel-example-generic.carousel.slide{ data: { ride: "carousel"} }
/               %ol.carousel-indicators
/                 %li.active{ data: {target: "#carousel-example-generic", "slide-to" => "0" }}
/                 %li{ data: {target: "#carousel-example-generic", "slide-to" => "1" }}
/                 %li{ data: {target: "#carousel-example-generic", "slide-to" => "2" }}

/               .carousel-inner{ role: "listbox" }
/                 .item.active
/                   =image_tag "https://s3.amazonaws.com/assets.happyfuncorp.com/splash-assets/venn.png"
/                 .item
/                   =image_tag "https://s3.amazonaws.com/assets.happyfuncorp.com/splash-assets/venn.png"
/                 .item
/                   =image_tag "https://s3.amazonaws.com/assets.happyfuncorp.com/splash-assets/venn.png"

/ %section.divider
/   .container
/     .row.text-center
/       .col-sm-offset-3.col-sm-6
/         %hr

/ %section.divider
/   .container
/     .row.text-center
/       .col-sm-offset-3.col-sm-6
/         %hr
/

            
%section#contact
  .container
    .row
      .col-sm-8.col-sm-offset-2
        .row.text-center
          .col-sm-10.col-sm-offset-1
            %h1 Tune in for deliciousness.
            = form_tag splash_signup_path, role: :form, :class=>'form-inline', :remote=>true do
              .form-group#signup
                = text_field_tag :signup_email, '',  :class=>'form-control', :placeholder=>'E-mail'
                %span.btn
                  = submit_tag 'Sign up', :class=>'btn btn-primary'
                %small#signup-message
